.TodoListItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  &:nth-child(even) {
    background: #f0f2f3;
  }

  .checkbox {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;

    svg {
      //아이콘
      font-size: 1.5rem;
    }
    .text {
      margin-left: 0.5rem;
      flex: 1;
    }

    //체크 되었을때
    &.checked {
      svg {
        color: #e46666;
      }

      .text {
        color: #ec6c6c;
        text-decoration: line-through;
      }
    }
  }
  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
    &:hover {
      border-top: 1px solid #dee2e6;
    }
  }

  //엘리먼트 사이사이에 테두리 넣기
  & + & {
    border-top: 1px solid #dee2e6;
  }
}
